.List {
    display: flex;
    flex-wrap: wrap;
}

.List-container {
    width: 300px;
    border: 1px solid rgb(217, 217, 217);    
    border-image: initial;
    margin: 20px;
}

.List-create {
    margin: 20px;
}